* {
    box-sizing: border-box;
    /* margin: 0; */
    /* padding: 0; */
}

body {
    margin: 0;
}
header {
    color: white;
    background-color: blue;
    height: 100px;
    padding: 30px;

    h1 {
        margin: 0;
    }
    a {
        color: white;
    }
}

main {
    display: grid;
    grid-template-columns: 300px minmax(0, 1fr) 300px;
}

.image {
    display: flex;
    &.align-left {
        justify-content: left;
    }
    &.align-right {
        justify-content: right;
    }
    &.align-center {
        justify-content: center;
    }
}
img {
    max-width: 100%;
    height: auto;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
    width: auto;
    height: auto;
    text-align: center;
}

th {
    background-color: #e3e3e3;
}

div.table-container {
    overflow-x: auto;
}

blockquote {
    padding: 0.2rem 0.8rem;
    box-shadow:
        0 1px 2px rgba(0, 0, 0, 0.12),
        0 3px 10px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    border-left-width: 4px;
    border-left-style: solid;
    .alert-heading {
        font-weight: bold;
    }
    &.alert-note {
        background: rgba(255, 235, 130, 0.2);
        border-left-color: #e7af06;
        .alert-heading {
            color: #e7af06;
        }
    }
    &.alert-warning {
        background: rgba(255, 159, 130, 0.2);
        border-left-color: #f12d23;
        .alert-heading {
            color: #f12d23;
        }
    }
    &.alert-tip {
        background: rgba(197, 236, 175, 0.2);
        border-left-color: #17770f;
        .alert-heading {
            color: #17770f;
        }
    }
}

#taxonomies {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: flex-end;

    .bullet {
        background-color: #89b7d8;
        border-radius: 6px;
        padding: 6px;
    }
    .taxonomy {
        font-weight: bold;
    }
}
#script {
    position: relative;
    #copy-script {
        position: absolute;
        right: 10px;
        top: 10px;
    }
    .highlight {
        pre {
            code {
                display: block;
                overflow: auto;
            }
            padding: 10px;
            margin: 0;
        }
    }
}
pre {
    background-color: #e1e2e7;
    overflow: auto;
    padding: 5px;
}
#script-url {
    position: relative;
    #copy-url {
        position: absolute;
        right: 10px;
        top: 10px;
    }
    .highlight pre {
        padding: 10px;
        margin: 0;
    }
}
.copy-button {
    border: none;
    background: none;
    cursor: pointer;
}
.code-section {
    .tab-buttons {
        display: flex;
        flex-direction: row;

        .tab-button {
            background-color: #f0f0f0;
            padding: 10px;
            cursor: pointer;
        }
        .tab-button.selected {
            background-color: #d0d0f0;
        }
    }
    .tabs {
        background-color: #d0d0f0;
        padding: 10px 0;
    }
    .tab {
        display: none;
    }
    .tab.selected {
        display: block;
    }
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

mjx-container.MathJax[display] {
    margin: 0;
    padding: 0;
}
